/*SFMono font*/
@font-face {
  font-family: 'SFMono-Regular';
  src: url("../fonts/SFMono/SFMono-Regular.woff2") format('woff2'),
       url("../fonts/SFMono/SFMono-Regular.woff") format('woff'),
       url("../fonts/SFMono/SFMono-Regular.ttf") format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFMono-Medium';
  src: url("../fonts/SFMono/SFMono-Medium.woff2") format('woff2'),
       url("../fonts/SFMono/SFMono-Medium.woff") format('woff'),
       url("../fonts/SFMono/SFMono-Medium.ttf") format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFMono-Semibold.woff';
  src: url("../fonts/SFMono/SFMono-Semibold.woff2") format('woff2'),
       url("../fonts/SFMono/SFMono-Semibold.woff") format('woff'),
       url("../fonts/SFMono/SFMono-Semibold.ttf") format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}