html {
  box-sizing: border-box;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


a {
  text-decoration: none;
  color: inherit;
}

ul, 
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 margin: 0;
 font-size: inherit;
}


body {
  @extend %navy;
  @extend %Calibre-Regular;
}

.container {
  max-width: 1270px;
  padding: 0px 150px;
  margin: 0 auto;
}

.page-section-title-h2 {
  font-size: clamp(26px,5vw,32px);
  @extend %white;
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  &::before {
    position: relative;
    bottom: 4px;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    @extend %green;
    @extend %SFMono-Regular;
    font-size: clamp(16px,3vw,25px);
    font-weight: 400;
  }
  &::after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color:#8892b0;
  }
}