@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px 5px;
  position: fixed;
  top: 0;
  width: 100%; 
  transition: top 0.3s; 
  @extend %navy;
  z-index: 6;
}
@media (max-width: 800px) {
  .header {
    padding: 30px 25px;
  }
}


  // MENU STYLES 
.menu {
  &__list {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    @extend %white;
    @extend %SFMono-Regular;
    font-size: 14px;
    line-height: 1.3;
  }
  &__list-item {
    padding: 10px;
    margin: 5px;
    counter-increment: item 1;
    &:hover {
      @extend %green;
    }
    &::before {
        margin-right: 5px;
        @extend %green;
        text-align: right;
        content: "0" counter(item) ".";
        cursor: pointer;
    }
  }
  &__btn-resume {
    @extend %green;
    background-color: transparent;
    border: 1px solid #64ffda;;
    border-radius: 4px;
    padding: 0.75rem 1.3rem;
    @extend %SFMono-Regular;
    line-height: 1;
    text-decoration: none;
    max-width: 95px;
    cursor: pointer;
    margin-left: 15px;
      &:hover {
        background-color: rgba(100,255,218,0.1);
      }
  }
}

@media (max-width: 800px) {
  .logo {
    display: none;
  }
  .menu {
    &__list {
      display: block;
      position: absolute;
      top: 65px;
      left: 0;
      width: 100%;
      background-color: #112240;
      left: -100%;
      transition: all 0.4s ease;
      box-shadow: -10px 0px 30px -15px #64ffda;
      overflow: auto;
      &-item {
        margin: 40px 0px 40px 33px;
      }
      &.open-menu {
        left: 0;
      }
    }
    &__btn-resume {
      margin: 40px 0px 40px 33px;
    }
    &__hamburger-btn {
      position: relative;
      width: 40px; 
      height: 35px;
      display: block;
      &::after {
        content: '';
        bottom: 5px;
        height: 3px;
        width: 100%;
        position: absolute;
        background: #64ffda;
        margin: 0 auto;
      }
      &::before {
        content: '';
        top: 5px;
        height: 3px;
        width: 100%;
        position: absolute;
        background: #64ffda;
        margin: 0 auto;
      }
      & span {
        top: 16px;
        height: 3px;
        width: 100%;
        position: absolute;
        background: #64ffda;
        margin: 0 auto;
      }
      &.open-menu span {
        opacity:0; 
        transition: 0.5s; 
      }
      &.open-menu:before {
        transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
      }
      &.open-menu:after {
        transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;
      }
    }
  }
}

  // LEFT AND RIGHT ELEMENTS STYLES 
.side-elements {
  position: fixed;
  bottom: 0px;
  width: 76px;
  @extend %white;
    &_left {
      left: 20px;
      right: auto;
    }
    &_right {
      left: auto;
      right: 20px;
      & a {
        margin-bottom: 185px;
      }
    }
    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 0px auto;
      background-color:#ccd6f6;
  }
    &__list-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      margin-bottom: 19px;
        & a {
          width: 20px;
          height: 20px;
          writing-mode: vertical-rl;
          @extend %SFMono-Regular;
          &:hover {
            @extend %green;
          }
        }
  }
}

@media (max-width: 1290px) {
  .side-elements {
    display: none;
  }
}


  // 1st BLOCK STYLES 
.page-section-hero {
  min-height: 100vh;
  margin-top: 23vh;
  &__subtitle {
    @extend %green;
    @extend %SFMono-Regular;
    font-size: 20px;
    line-height: 1.1;
  }
  &__title {
    @extend %white;
    font-size: clamp(40px, 8vw, 80px);
    margin-top: 30px;
    @extend %Commissioner-Semibold;
    & span {
      display: block;
      @extend %grey;
      font-size: clamp(25px, 5vw, 50px);
    }
  }
  &__description {
      @extend %grey;
      margin: 20px 0px 20px;
      max-width: 500px;
      font-size: 20px;
      @extend %Commissioner-Regular;
      line-height: 1.3;
    }
  &__btn {
    @extend %green;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    margin-top: 50px;
    font-size: 14px;
    @extend %SFMono-Regular;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
      &:hover {
        background-color: rgba(100,255,218,0.1);
      }
  }
}

@media (max-width: 800px){
  .page-section-hero {
    margin-top: 20vh;
    min-height: 70vh;
    &__subtitle {
      font-size: 16px;
    }
    &__description {
      font-size: 16px;
      max-width: 300px;
    }
  }
}



 // 2d BLOCK STYLES 
.page-section-about {
  &__inner{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 110px;
  }
  &__description {
    max-width: 600px;
    & p {
    margin: 20px 0px 20px;
    font-size: 18px;
    line-height: 1.5;
    @extend %grey;
    }
  }
  &__photo {
    position: relative;
    background-image: url(../images/me.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;  
    transition: all .5s;
    background-color:#64ffda;
    background-blend-mode: luminosity;
    margin: 10px 20px;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border: 2px solid #64ffda;
        top: 20px;
        right: -20px;
        z-index: -1;
        border-radius: 4px;
      }
      &_before::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(../images/me.jpg);
        border-radius: 4px;  
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.5;
        transition: all .5s;
      }
  }
}

.page-section-about__photo_before:hover:before {
  opacity: 1;
}

@media (max-width: 980px) {
  .page-section-about {
    &__inner {
      display: block;
    }
    &__photo {
    height: 260px;
    width: 260px;
    margin: 0 auto;
     &_before::before {
      opacity: 1;
     }
    }
  }
}
@media (max-width: 560px) {
  .page-section-about {
    &__description p {
      font-size: 16px;
    }
  }
}

 // 3d BLOCK STYLES 
.page-section-experience {
  margin-top: 200px;
  & .page-section-title-h2 {
    counter-increment: item 2;
    content: "0" counter(item) ".";
  }
}

.tab-box {
  display: flex;
  justify-content: flex-start;
  min-height: 345px;
  &__heading {
    font-size: 22px;
    @extend %white;
    & span {
      @extend %green;
    }
  }
  &__range{
    @extend %SFMono-Regular;
    font-size: 13px;
    margin-bottom: 25px;
  }
  &__nav {
    max-width: 230px;
    @extend %SFMono-Regular;
    & li.select a {
      @extend %ligth-navy;
      @extend %green;
      width: 132px;
      border: 1px solid #64ffda;
    }
    & li {
      margin: 0px 50px 10px 0;
      & a {
        display: block;
        padding: 10px 25px;
        border: 1px solid #0a192f;
        @extend %white;
        &:hover {
          @extend %ligth-navy;
          @extend %green;
          width: 132px;
          border: 1px solid #64ffda;
        }
      }
    }
  }
  &__panels{
    animation: scale 0.7s ease-in-out;
    @extend %grey;
   }
  &__list {
    &-item {
      padding: 10px;
      &::before{
        content: "▹";
        @extend %green;
        margin-right: 15px;
      }
    }
  }
}

 @keyframes scale {
  0% {
      transform: scale(0.9);
      opacity: 0;
  }
  50% {
      transform: scale(1.005);
      opacity: 0.5;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

@media (max-width: 620px) {
  .tab-box {
    flex-direction: column;
    &__nav {
      display: flex;
      flex-direction: row;
      & li {
        margin: 0px 10px 25px 0;
        &.select a {
          width: 100%;
        }
        & a {
          padding: 10px 10px;
        }
        & a:hover {
          width: 100%;
        }
      }
    }
    &__list {
      font-size: 14px;
    }
    &__range {
      font-size: 12px;
    }
  }
}

 // 4th BLOCK STYLES 
.page-section-projects {
    margin-top: 200px;
    & .page-section-title-h2 {
      counter-increment: item 3;
      content: "0" counter(item) ".";
    }
    &__inner {
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;
      flex-direction: row;
      max-width: 970px;
      &_right {
        flex-direction: row-reverse;
      }
    }
    &__image {
      filter: grayscale(50%) contrast(1) brightness(90%);
      mix-blend-mode: screen;
      box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
      max-width: 470px;
      &:hover {
        filter: unset;
        mix-blend-mode: unset;
        transition: all .5s;
      }
      & img {
        max-width: 470px;
        border-radius: 4px;
      }
    }
    &__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: right;
      position: relative;
    }
    &__title {
      font-size: clamp(24px, 5vw, 28px);
      @extend %white;
      margin-bottom: 20px;
      @extend %Commissioner-Semibold;
      margin-bottom: 25px;
      &_right {
        text-align: left;
      }
    }
    &__text {
      box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
      position: relative;
      width: 500px;
      z-index: 2;
      padding: 8px 20px;
      border-radius: 4px;
      @extend %ligth-navy;
      @extend %light-grey;
      font-size: 17px;
      &_right {
        text-align: left;
      }
    }
    &__technologies {
      @extend %SFMono-Regular;
      @extend %green;
      display: flex;
      justify-content: flex-end;
      position: relative;
      margin: 15px 0px 10px;
      padding: 0px;
      font-size: 13px;
      flex-wrap: wrap;
      & li {
        margin-left: 10px;
        margin-top: 10px;
      }
      &_right {
        justify-content: flex-start;
        & li {
          margin: 0px 20px 5px 0px;
        }
      }
    }
    &__links {
      @extend %white;
      position: relative;
      display: flex;
      justify-content: flex-end;
      margin-right: -15px;
      &_right{
        margin-left: -15px
      }
      & a:hover {
        @extend %green;
      }
      & a {
        padding: 13px;
        & svg {
          width: 20px;
          height: 20px;
        }
      }
      &_right {
        justify-content: flex-start;
      }
    }
}
@media (max-width: 1290px) {
  .page-section-projects {
    &__inner {
      display: block;
      }
    &__image {
      margin: 0 auto;
      }
    &__description {
      text-align: left;
      display: block;
      margin: 0 auto;
      max-width: 470px;
    }
    &__title {
      margin-top: 10px;
    }
  }
}

@media (max-width: 630px) {
  .page-section-projects {
    &__image {
      max-width: 100%;
      & img {
        max-width: 100%;
      }
    }
    &__description {
      max-width: 100%;
    }
    &__text {
      max-width: 100%;
    }
    &__technologies {
      max-width: 100%;
    }
  }
}

// @media (max-width: 1210px){
//   .page-section-projects {
//     &__inner {
//       flex-direction: column;
//       }
//     &__description {
//       text-align: left;
//     }
//     &__technologies {
//       justify-content: flex-start;
//     }
//     &__links {
//       justify-content: flex-start;
//     }
//     }
// }

 // 5th BLOCK STYLES 
.page-section-contacts {
  margin-top: 200px;
  & .page-section-title-h2 {
    counter-increment: item 4;
    content: "0" counter(item) ".";
    margin-bottom: 100px;
  }
  &__inner {
    text-align: center;
    & p {
      @extend %grey;
      margin: 0 auto;
      max-width: 700px;
      font-size: 20px;
      line-height: 1.5;
    }
  }
  &__btn {
    @extend %green;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    margin-top: 50px;
    font-size: 14px;
    @extend %SFMono-Regular;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
      &:hover {
        background-color: rgba(100,255,218,0.1);
      }
  }
}

@media (max-width: 800px) {
  .page-section-contacts {
    margin-top: 100px;
    &__inner p {
      font-size: 18px;
    }
    & .page-section-title-h2 {
      margin-bottom: 50px;
    }
    &__btn {
      margin-top: 30px;
      font-size: 13px;
    }
  }
}

 // FOOTER STYLES 
.footer {
  margin-top: 100px;
  margin-bottom: 50px;
  &__text {
    text-align: center;
    @extend %grey;
    font-size: 12px;
    @extend %SFMono-Regular;
  }
  &__social-links {
    display: none;
  }
}

@media (max-width: 1290px) {
  .footer {
    margin-top: 30px;
    margin-bottom: 30px;
    &__social-links {
      display: block;
      width: 100%;
      max-width: 250px;
      margin: 0px auto 20px;
      & ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      & a {
        display: inline-block;
        color:#ccd6f6;
        position: relative;
        padding: 10px;
        cursor: pointer;
        &:hover {
          color:#64ffda;
        }
      }
      & svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
