@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0px 50px;
}

.menu {
  &__list {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    @extend %white;
    @extend %SFMono-Regular;
    font-size: 14px;
    line-height: 1.3;
  }
  &__list-item {
    padding: 10px;
    margin: 5px;
    counter-increment: item 1;
    &:hover {
      @extend %green;
    }
    &::before {
        margin-right: 5px;
        @extend %green;
        text-align: right;
        content: "0" counter(item) ".";
        cursor: pointer;
    }
  }
  &__btn-resume {
    @extend %green;
    background-color: transparent;
    border: 1px solid #64ffda;;
    border-radius: 4px;
    padding: 0.75rem 1.3rem;
    @extend %SFMono-Regular;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    margin-left: 15px;
      &:hover {
        background-color: rgba(100,255,218,0.1);
      }
  }
}

.side-elements {
  position: fixed;
  bottom: 0px;
  width: 76px;
  @extend %white;
    &_left {
      left: 20px;
      right: auto;
    }
    &_right {
      left: auto;
      right: 20px;
      & a {
        margin-bottom: 185px;
      }
    }
    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 0px auto;
      background-color:#ccd6f6;
  }
    &__list-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      margin-bottom: 19px;
        & a {
          width: 20px;
          height: 20px;
          writing-mode: vertical-rl;
          @extend %SFMono-Regular;
          &:hover {
            @extend %green;
          }
        }
  }
}

.page-section-hero {
  min-height: 100vh;
  margin-top: 150px;
  &__subtitle {
    @extend %green;
    @extend %SFMono-Regular;
    font-size: 20px;
    line-height: 1.1;
  }
  &__title {
    @extend %white;
    font-size: clamp(40px, 8vw, 80px);
    margin-top: 30px;
    @extend %Calibre-Semibold;
    & span {
      display: block;
      @extend %grey;
      font-size: clamp(25px, 5vw, 50px);
    }
  }
  &__description {
      @extend %grey;
      margin: 20px 0px 0px;
      max-width: 500px;
      font-size: 20px;
      @extend %Calibre-Regular;
      line-height: 1.3;
    }
  &__btn {
    @extend %green;
    background-color: transparent;
    border: 1px solid #64ffda;;
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    margin-top: 50px;
    font-size: 14px;
    @extend %SFMono-Regular;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
      &:hover {
        background-color: rgba(100,255,218,0.1);
      }
  }
}


.page-section-about {
  min-height: 100vh;
  &__inner{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 97px;
  }
  &__description {
    max-width: 600px;
    & p {
    margin: 20px 0px 20px;
    font-size: 18px;
    line-height: 1.5;
    @extend %grey;
    }
  }
  &__photo {
    display: inline-block;
    position: relative;
    background: url(../images/me.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;  
    transition: all .5s;
    background-color:#64ffda;
    background-blend-mode: luminosity;
      &_before:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(../images/me.jpg);
        border-radius: 10px;  
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: inherit; 
        opacity: 0.5;
        transition: all .5s;
      }
  }
}

.page-section-about__photo_before:hover:before {
  opacity: 1;
}

// .demo {
//   display: inline-block;
//   position: relative;
//   width: 300px;
//   height: 305px;
//   margin: 1.5em .5em 0;
//   background: url(../images/me.jpg);
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   border-radius: 10px;  
//   transition: all .5s;
//   background-color:#64ffda;
//   background-blend-mode: luminosity;
  
//   &--before:before {
//     content: '';
//     display: block;
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background: url(../images/me.jpg);
//     border-radius: 10px;  
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     border-radius: inherit; 
//     opacity: 0.5;
//     transition: all .5s;
//     }
    
//   &:after {
//     content: '';
//     position: absolute;
//     top: -1.5em;
//     left: .5em;
//     }
//   }


// .demo--before:hover:before {
//   opacity: 1;
//   }
